<template>
  <div class="topo">
    <span>Bem vindo {{username}}!</span>
    <span>
      <router-link :to="{ name: 'users' }" style="left: 5px">Ver todos os usuários</router-link>
    </span>
    <button @click="logout" style="right: 5px">logout</button>
  </div>
</template>

<script>
import AuthService from '../utils/auth-service.js'

export default {
  name: 'cabecalho',
  computed: {
    username(){
      return this.$store.state.username
    }
  },
  created(){
    this.$store.commit("changeUsername", AuthService.getMe() )
  },
  methods: {
    logout(){
      AuthService.logout()
      this.$store.commit("changeUsername", null )
      this.$store.commit("changeUserId", null )
      this.$router.push({ path: '/login' })
    }
  },  
}
</script>


<style>
.topo{
  top: 5px;
  padding-bottom: 10px;
}
</style>
