<template>
  <div>
    <div v-if="!editing">
      <p>{{comment.text}}</p>
    </div>
    <div v-else>
      <textarea v-model="newText" cols="30" rows="5"></textarea>
    </div>

    <span>Escrito por {{comment.user.name}} em {{$moment(comment.created_at).format('DD-MM-YYYY')}}</span>

    <div v-if="myCreation">
      <button v-if="!editing" @click="edit">Editar</button>
      <button v-if="editing" @click="save">Salvar</button>
      <button @click="deleteComment">Excluir</button>
    </div>
  </div>
</template>

<script>
import {EventBus} from '../utils/event-bus.js';

export default {
  props: ["comment"],
  data(){
    return{
      editing: false,
      newText: this.comment.text
    }
  },
  computed:{
    myCreation(){
      return this.$store.state.userId == this.comment.user.id
    }
  },
  methods:{
    deleteComment(){
      EventBus.$emit('deleteComment', this.comment.id)
    },
    edit(){
      this.editing = true
    },
    save(){
      EventBus.$emit('updateComment', this.comment.id, this.newText)
      this.editing = false
    }
  }
}
</script>
