<template>
  <div id="posts">
    <cabecalho/>
    <div v-for="post in posts" :key="'post_'+post.id">
      <router-link :to="{ name: 'post', params: {id: post.id} }">
        <h3>{{post.title}}</h3>
        por {{post.user.name}}
      </router-link>
    </div>

    <div>
      <hr>
      <h3>Crie seu post também</h3>
      <input type="text" v-model="newPostTitle" placeholder="Título do post">
      <textarea v-model="newPostBody" cols="30" rows="5"></textarea>
      <button @click="createPost">Criar post</button>
    </div>

  </div>
</template>

<script>
import Cabecalho from './Cabecalho'
import {EventBus} from '../utils/event-bus.js';

export default {
  name: 'index',
  data () {
    return {
      posts: [],
      newPostTitle: "",
      newPostBody: ""
    }
  },
  created(){
    this.$http.get("/posts").then(response => {
      this.posts = response.data
    }).catch( () => {
      alert("Não foi possível buscar os posts no servidor")
    })
    EventBus.$on('deletePost', this.deletePost )
    EventBus.$on('updatePost', this.updatePost )
  },
  methods:{
    deletePost(post_id){
      var index = this.posts.findIndex(post => post.id == post_id)
      if(index >= 0){
        this.$http.delete("/posts/"+post_id).then(response => {
          this.posts.splice(index, 1)
        }).catch( () => {
          alert("Não foi possível deletar os dados no servidor")
        })
      }
    },
    updatePost(post_id, new_title, new_body){
      var myPost = this.posts.find(post => post.id == post_id)
      if(myPost){
        var params = {
          post: {
            title: new_title,
            body: new_body
          }
        }
  
        this.$http.put("/posts/"+myPost.id, params).then(response => {
          myPost.title = new_title
          myPost.body = new_body
        }).catch( () => {
          alert("Não foi possível atualizar os dados no servidor")
        })
      }
    },
    createPost(){
      var params = {
        post: {
          title: this.newPostTitle,
          body: this.newPostBody
        }
      }
      this.$http.post("/posts", params).then(response => {
        this.posts.push(response.data)
      }).catch( () => {
        alert("Não foi possível criar os dados no servidor")
      })
    }
  },
  components: {
    Cabecalho
  }
}
</script>
