<template>
  <div id="login">
    <span>Email</span>
    <input type="text" v-model="email" placeholder="Insira seu email" class="input-search">
    <span>Senha</span>
    <input type="password" v-model="password" class="input-search" @keyup.enter="login">
    <button @click="login">Entrar</button>
    
  </div>
</template>

<script>
import AuthService from '../utils/auth-service.js'

export default {
  name: 'login',
  data () {
    return {
      email: "",
      password: ""
    }
  },
  methods: {
    login(){
      var params = {
        email: this.email,
        password: this.password
      }
      this.$http.post("/login", params).then(response => {
        this.$store.commit("changeUsername", AuthService.getMe() )
        this.$store.commit("changeUserId", AuthService.getId() )
        this.$router.push({ path: '/' })
      }).catch( () => {
        alert("Não foi possível realizar o login")
      })
    }
  }
}
</script>

<style lang="scss">
.input-search{
  text-align: center;
  padding: 5px;
	width: 20%;
}
</style>
