<template>
  <div class="post">
    <div>
      <cabecalho/> <br>
      <router-link :to="{ name: 'home' }">Voltar</router-link> <br>
    </div>

    <div>
      <div v-if="!editing">
        <h3>{{post.title}}</h3>
        <p>{{post.body}}</p>
      </div>
      <div v-else>
        <input type="text" v-model="titleNewPost" placeholder="Título do post">
        <textarea v-model="bodyNewPost" cols="30" rows="5"></textarea>
      </div>

      <hr>
      <span>Escrito por {{post.user.name}} em {{$moment(post.created_at).format('DD-MM-YYYY')}} </span>
    </div>
    
    <div v-if="myCreation">
      <button v-if="!editing" @click="edit">Editar</button>
      <button v-if="editing" @click="save">Salvar</button>
      <button @click="deletePost">Excluir</button>
    </div>
    
    <div>
      <h3>Deixe um comentário</h3>
      <textarea v-model="textNewComment" placeholder="Escreva aqui seu comentário" cols="30" rows="5"></textarea>
      <button @click="createComment">Enviar Comentário</button>
      <h3>Comentários</h3>
      <comment v-for="comment in post.comments" :key="'comment_'+comment.id" :comment="comment" />
    </div>
  </div>
</template>

<script>
import Cabecalho from './Cabecalho'
import Comment from './Comment'
import {EventBus} from '../utils/event-bus.js';


export default {
  props: ["id"],
  data(){
    return {
      post: null,
      textNewComment: "",
      titleNewPost: "",
      bodyNewPost: "",
      editing: false
    }
  },
  created(){
    this.$http.get("/posts/"+this.id).then(response => {
      this.post = response.data
    }).catch( () => {
      alert("Não foi possível buscar os dados no servidor")
    })
    EventBus.$on('updateComment', this.updateComment )
    EventBus.$on('deleteComment', this.deleteComment )
  },
  computed:{
    myCreation(){
      return this.$store.state.userId == this.post.user.id
    }
  },
  methods:{
    deletePost(){
      EventBus.$emit('deletePost', this.id)
    },
    edit(){
      this.editing = true
    },
    save(){
      EventBus.$emit('updatePost', this.id, this.titleNewPost, this.bodyNewPost)
      this.editing = false
    },
    createComment(){
      if(this.textNewComment.length){
        var params = {
          comment: {
            text: this.textNewComment,
            post_id: this.id
          }
        }
        this.$http.post("/comments", params).then(response => {
          this.post.comments.push(response.data)
        }).catch( () => {
          alert("Não foi possível criar os dados no servidor")
        })
      }
    },
    updateComment(comment_id, newText){
      var myComment = this.post.comments.find(comment => comment.id == comment_id)
      if(myComment){
        var params = {
          comment: {
            text: newText,
            post_id: myComment.post_id
          }
        }
  
        this.$http.put("/comments/"+myComment.id, params).then(response => {
          myComment.text = newText
        }).catch( () => {
          alert("Não foi possível atualizar os dados no servidor")
        })
      }
    },
    deleteComment(comment_id){
      var index = this.post.comments.findIndex(comment => comment.id == comment_id)
      if(index >= 0){
        this.$http.delete("/comments/"+comment_id).then(response => {
          this.post.comments.splice(index, 1)
        }).catch( () => {
          alert("Não foi possível deletar os dados no servidor")
        })
      }
    }
  },
  components: {
    Cabecalho,
    Comment
  }
}
</script>


<style>
.post{
  padding: 5px;
}
</style>
