<template>
  <div>
    <div>
      <cabecalho/> <br>
      <router-link :to="{ name: 'home' }">Voltar</router-link> <br>
    </div>


    <div v-for="user in users" :key="'user_'+user.id">
      {{user.name}} - {{user.email}} É admin? {{user.is_admin ? "Sim" : "Não"}}
      
      <div v-if="!user.is_followed_by_me">
        <button @click="follow(user.id)">Seguir</button>
      </div>
      <div v-else>
        <button @click="unfollow(user.id)">Deixar de Seguir</button>
      </div>
    </div>
  </div>
</template>


<script>
import Cabecalho from './Cabecalho'

export default {
  data(){
    return{
      users: []
    }
  },
  created(){
    this.$http.get("/users/").then(response => {
      this.users = response.data
    }).catch( () => {
      alert("Não foi possível buscar os dados no servidor")
    })
  },
  methods:{
    follow(userId){
      var userSelected = this.users.find(user => user.id == userId)
      if(userSelected){
        var params = {
          follow: {
            another_user_id: userId
          }
        }
        this.$http.post("/follow", params).then(response => {
          userSelected.is_followed_by_me = true
        }).catch( () => {
          alert("Não foi possível seguir esta pessoa")
        })
      }
    },
    unfollow(userId){
      var userSelected = this.users.find(user => user.id == userId)
      if(userSelected){
        var params = {
          follow: {
            another_user_id: userId
          }
        }
        this.$http.post("/unfollow", params).then(response => {
          userSelected.is_followed_by_me = false
        }).catch( () => {
          alert("Não foi possível deixar de seguir esta pessoa")
        })
      }
    }
  },
  components: {
    Cabecalho
  }
}
</script>
